<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d30a455a8d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/login_register.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">

    <link rel="icon" href="assets/img/logo_lobo.png">
    <title>Recupera tu contraseña</title>
</head>

<body>
    <img class="wave" src="assets/img/wave.jpg">

    <div class="container">
        <div class="img">
            <img src="assets/img/lobo.png">
        </div>
        <div class="login-content">
            <form action="" method="POST" id="recoveryPassForm">

                <h1 class="pt-5">Recupera tu contraseña</h1>
                <p class="pb-1">Ingresa el correo con el que te registraste para enviar instrucciones de recuperación.</p>
                <img src="assets/img/pass.svg" class="mb-5">
                <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-at"></i>
                    </div>
                    <div class="div">
                        <h5>Correo electrónico</h5>
                        <input type="email" class="input" id="email" name="email" autofocus required>
                    </div>
                </div>
                <p id="alertEmail" class="form-input-error redColor">El correo solo puede contener letras, numeros, puntos, guiones y guion bajo.</p>
                <input type="submit" class="btn-css" value="Enviar">
                <a href="/" style="text-align: center; text-decoration: none;">Volver a iniciar sesión</a>
            </form>
        </div>
    </div>
    <script type="text/javascript" src="assets/js/validate_inputs/expresiones.js"></script>
    <script type="text/javascript" src="assets/js/validate_inputs/input_correoRecovery.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>