<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d30a455a8d.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="assets/css/login_register.css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="icon" href="assets/img/logo_lobo.png">
    <title>Advertencia</title>
</head>

<body>
    <img class="wave" src="assets/img/wave.jpg">
    <div class="container">
        <div class="img">
            <img src="assets/img/lobo.png">
        </div>
        <div class="login-content">
            <form action="/">
                <img src="assets/img/avatar.svg">
                <h2 class="title">
                    <%= advertencia.titulo %><br>
                        <span style="color: rgb(226, 44, 44); font-size: 30px; text-transform:lowercase"> <%= advertencia.user  %></span> <br>
                        <%= advertencia.descripcion  %>
                </h2>
                <input type="submit" class="btn-css" value="Volver">
            </form>
        </div>
    </div>
</body>

</html>